@import url("https://use.typekit.net/ytm5chc.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: 0;
  }

  /* Buttons */
  .button {
    @apply bg-orange hover:bg-cream flex items-center justify-center px-8 h-[3.25rem] rounded-[2rem] text-lg text-green transition-colors w-max;
  }

  .button--arrow {
    @apply justify-between gap-4;
  }

  .button--green {
    @apply bg-green hover:bg-fern-green text-white;
  }

  .button--full {
    @apply w-full;
  }
}

:root {
  --background: var(--color-fern-green);
  --foreground: #171717;

  --padding: 1rem;
  --radius: 1rem;
  --radiuse-lg: 2rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --padding: 2rem;
  }
}

body {
  @apply bg-fern-green text-cream;
  font-family: Arial, Helvetica, sans-serif;
}

/* Typography */

body,
.body {
  @apply font-medium font-sans text-base leading-[1.4] tracking-normal;
}

.body--small {
  @apply text-sm;
}

.body--semibold {
  @apply font-semibold;
}

.body--large {
  @apply text-lg;
}

.body--large-semibold {
  @apply text-lg font-semibold;
}

h1 {
  @apply font-light font-display leading-[1.10] lg:leading-none tracking-[-0.01em] text-[2.5rem] lg:text-[4.5rem];
}

h2 {
  @apply font-light font-display leading-none tracking-[-0.01em] text-[4rem];
}

h3 {
  @apply font-semibold leading-none tracking-normal text-[3.5rem];
}

h4 {
  @apply font-light font-display leading-[1.05] tracking-[-0.01em] text-[3rem];
}

h5 {
  @apply font-light font-display leading-[1.10] tracking-[-0.01em] text-[2.5rem];
}

h6 {
  @apply font-light font-display leading-none tracking-[-0.01em] text-[2rem];
}

.eyebrow {
  @apply font-semibold leading-[1.4] tracking-normal text-[1.375rem];
}

/* Navigation */
nav a {
  @apply hover:text-green-tint
}

nav li {
  @apply relative;
}

nav li.active {
  @apply after:absolute after:-bottom-[1.625rem] after:inset-x-0 after:bg-green after:w-full after:h-[0.375rem];
}

/* Select */
select {
  @apply hover:bg-cream border border-green-tint hover:border-green box-border cursor-pointer px-5 h-10 rounded-[2rem] text-green text-lg transition-colors;
}
