@import url("https://use.typekit.net/ytm5chc.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: 0;
  }

  /* Buttons */
  .button {
    @apply bg-orange cursor-pointer hover:bg-cream flex items-center justify-center px-8 h-[3.25rem] rounded-[2rem] text-lg text-green transition-colors w-max;
  }

  .button--slim {
    @apply h-8 px-4;
  }

  .button--arrow {
    @apply justify-between gap-4;
  }

  .button--green {
    @apply bg-green hover:bg-fern-green text-white;
  }

  .button--full {
    @apply w-full;
  }
}

:root {
  --background: var(--color-fern-green);
  --foreground: #171717;

  --padding: 1rem;
  --radius: 1rem;
  --radiuse-lg: 2rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: 7.125rem;
    --padding: 2rem;
  }
}

body {
  @apply bg-fern-green text-cream;

  scroll-behavior: smooth;
}

body > * {
  @apply max-w-[1440px] mx-auto;
}

/* Typography */

body,
.body {
  @apply font-medium font-sans text-base leading-[1.4] tracking-normal;
}

.body--small {
  @apply text-sm;
}

.body--semibold {
  @apply font-semibold;
}

.body--large {
  @apply text-lg;
}

.body--large-semibold {
  @apply text-lg font-semibold;
}

h1 {
  @apply font-light font-display leading-[1.1] lg:leading-none tracking-[-0.01em] text-[2.5rem] lg:text-[4.5rem];
}

h2 {
  @apply font-light font-display leading-none tracking-[-0.01em] text-[4rem];
}

h3 {
  @apply font-display font-light leading-none lg:leading-[1.05] tracking-[-0.01em] text-[2rem] lg:text-[3rem];
}

h4 {
  @apply font-light font-display leading-[1.1] tracking-[-0.01em] text-[2.5rem];
}

h5 {
  @apply font-light font-display leading-none tracking-[-0.01em] text-[2rem];
}

h6 {
  @apply font-light font-display leading-none tracking-[-0.01em] text-[2rem];
}

.eyebrow {
  @apply font-semibold leading-[1.4] tracking-normal text-[1.375rem];
}

.bg-cream > .button {
  @apply hover:bg-green-tint;
}

/* Navigation */
nav a {
  @apply hover:text-green-tint
}

nav li {
  @apply relative;
}

nav li.active {
  @apply lg:after:absolute lg:after:-bottom-[1.625rem] lg:after:inset-x-0 after:bg-green lg:after:w-full lg:after:h-[0.375rem];
}

/* Footer */
footer .logo {
  @apply max-w-full h-auto;
}

/* Select */
select {
  @apply hover:bg-cream border border-green-tint hover:border-green box-border cursor-pointer bg-no-repeat px-5 h-10 rounded-[2rem] text-green text-lg transition-colors;
}

.select {
  @apply h-14 pr-10;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.252601 1.1667C0.619519 0.753919 1.25159 0.716738 1.66437 1.08366L10 8.49311L18.3356 1.08366C18.7484 0.716738 19.3805 0.753919 19.7474 1.1667C20.1143 1.57948 20.0772 2.21156 19.6644 2.57847L10 11.169L0.335647 2.57847C-0.0771359 2.21156 -0.114317 1.57948 0.252601 1.1667Z' fill='%23003F3A'/%3E%3C/svg%3E%0A");
  background-position: right 1.25rem center;
  background-size: 1.25rem 1.25rem;
}

.select--lang {
  @apply !h-10;

  background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.69995' r='8' transform='rotate(90 9.5 9.69995)' fill='white' stroke='%23003F3A' stroke-width='1.2'/%3E%3Cpath d='M10.4998 17.4484C11.2883 16.5819 11.9353 15.4307 12.3872 14.09C12.8392 12.7493 13.0833 11.2575 13.0992 9.738C13.1151 8.21846 12.9024 6.71474 12.4788 5.35104C12.0551 3.98735 11.4326 2.80283 10.6627 1.89533' stroke='%23003F3A' stroke-width='1.2' stroke-linecap='round'/%3E%3Cpath d='M8.50022 17.4484C7.71172 16.5819 7.06475 15.4307 6.61276 14.09C6.16078 12.7493 5.91675 11.2575 5.90083 9.738C5.88492 8.21846 6.09757 6.71474 6.52123 5.35104C6.94489 3.98735 7.5674 2.80283 8.33733 1.89534' stroke='%23003F3A' stroke-width='1.2' stroke-linecap='round'/%3E%3Cpath d='M17.5 9.69995L1.5 9.69995' stroke='%23003F3A' stroke-width='1.2'/%3E%3C/svg%3E%0A");
}

.label-select-group {
  @apply flex flex-col gap-4;
}

.label-input-group input[type="radio"]:checked + label {
  @apply bg-green text-white;
}

.label-input-group .input,
.label-select-group select {
  @apply border border-green mt-4 p-5 rounded-2xl w-full h-14;
}

.label-input-group label {
  @apply cursor-pointer;
}

.label-select-group select {
  @apply !py-0 hover:bg-transparent;
}

.image-with-text__text p.eyebrow,
.text-with-icons__text p.eyebrow {
  @apply max-lg:!text-lg max-lg:!font-semibold;
}

.text-with-percentages ol {
  counter-reset: annotaion;
}

.text-with-percentages ol > li {
  counter-increment: annotation;
}

.text-with-percentages ol > li::before {
  content: counter(annotation) ".";
  padding-right: 0.25rem;
}

main.about > .image-with-text:not(:first-child) {
  @apply !bg-green !text-white !pb-10 lg:!pb-14 rounded-b-none;
}

.hero-slider p.eyebrow {
  @apply max-lg:!font-medium max-lg:!text-base;
}

div:not(.hero) .rte a {
  @apply underline;
}

.rte:not(.promo-bar) p + p {
  @apply mt-4;
}

.rte--tertiary p:has(strong:only-child) {
  @apply font-semibold my-10 lg:my-14 text-lg;
}

.rte--tertiary ul {
  @apply list-disc list-inside my-4 table;
}

.rte--tertiary ul > li {
  @apply table-row before:content-['•'] before:pr-2 before:table-cell;
}

footer .rte p.button + p.button {
  @apply mt-0;
}
